.image-container{
    padding: 10px;   

}

.image{
    width:16vw;
    height:35vh;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
    
    
    
}
img:hover{
    box-shadow: 5px 5px 5px #f2f2f2;
    
}
